blanco = #ffffff
negro = #000000
color1 = #2caaff
color2 = #083B66
color3 = #fdd700
color4 = #334F9A

body
    background-color: #f4f4f4
    font-size: 14px
    font-family: 'Roboto',sans-serif

a.btn
    &:active
    &:focus
        box-shadow: none !important
        outline: none !important

.form-control,.form-select
    &:focus
        box-shadow: none;
        outline: none;

.mtop16
    margin-top: 16px

.mtop32
    margin-top: 32px

nav
    background-color: blanco
    border-bottom: 2px solid color1
    .navbar-brand
        img
            width: 200px
    .navbar-toggler
        border: none
        i
            color: color1 !important
        &:active
        &:focus
            outline: none !important
            box-shadow: none !important
    .navbar-nav
        li.nav-item
            a.nav-link
                border: 1px solid blanco
                border-radius: 4px
                color: negro !important
                font-size:  .9em
                font-weight: bold
                margin-right: 4px
                padding: 5px 16px !important
                &:hover
                    background-color: color2
                    color: blanco !important
                img
                    border-radius: 50%
            a.btn
                border: 1px solid color1
                color: negro
                &:hover
                    background-color: color3
                    color: negro !important
            .dropdown-menu
                background-color: #f8f9fa !important
                border: 0px
                border-radius: 0px 0px 4px 4px
                top 150%
                li
                    border-bottom: 1px solid blanco !important
                    a
                        color: nego  !important
                        display: block
                        float: none
                        width: 100%
                        &:hover
                            background-color: color2 !important
                            color: blanco !important
                    &:last-child
                        border-bottom: 0px !important

        li.link-acc
            overflow: hidden
            a
                display: inline-block
                float: left
                margin-right: 0px !important
                &:first-child
                    border-radius: 4px 0px 0px 4px
                    border-right: 0px
                &:last-child
                    border-radius: 0px 4px 4px 0px
                img
                    margin-right: 6px
                    position: relative
                    top: -1px
                    width: 24px
        li.link-user
            overflow: initial
            position: relative
            top: -2px
            a
                border: 0px !important
                &:hover
                    background-color: transparent !important

.wrapper
    .panel
        background-color: blanco
        border-radius: 6px
        border-bottom: 2px solid color1
        width: 100%
        .header
            border-bottom: 1px solid #e8e8e8
            h2.title
                display: inline-block
                color: #19213d
                font-size: 1.1em
                margin-bottom: 0px
                padding: 12px 16px
            ul
                display: inline-block
                float: right
                margin-right: 12px
                li
                    display: inline-block
                    position: relative
                    a
                        color: #333
                        display: inline-block
                        padding: 10px
                        &:hover
                            background-color: #f0f0f0
                            color: #222
                            text-decoration: none
                        i
                            color: color1
                    ul
                        background-color: blanco
                        border: 1px solid #f0f0f0
                        display: none
                        float: none
                        position: absolute
                        right: -16px
                        width: 200px
                        li
                            display: inline-block
                            border-bottom: 1px solid #f0f0f0
                            width: 100%
                            &:last-child
                                border-bottom: 0px
                    &:hover
                        ul
                            display: block
                            a
                                display: block
                                width: 100%

            .back
                color: color1;
                font-size: 20px !important
                margin: auto 10px;
            .back-link
                color: #007bff;
                margin: auto 10px;

                &:hover
                    color: #0056b3;
                    text-decoration: none;
            .w-100-2
                width: 85% !important;

        .inside
            padding: 16px
            .nav
                .nav-link
                    border: 1px solid color1
                    margin-right: 8px
                    &:hover
                        background-color: color1
                        color: #ffffff
            .btn-my-primary
                background-color: color1
                border-color: color1;
                color: #fff;
            .dropdown
                .dropdown-menu
                    .dropdown-item:active
                        color: #fff;
                        text-decoration: none;
                        background-color: color1;
            .form_search
                display: none
                margin-bottom: 16px
                .btn
                    width: 100%
            .big_count
                display: block;
                font-size: 2em;
                text-align: center;
                width: 100%;
            .edit_avatar
                a
                    display: block
                    margin:  0px auto
                    position: relative
                    width: 140px
                    .overlay
                        align-items: center
                        background-color: rgba(0, 0, 0, .55)
                        border-radius: 50%
                        color: blanco
                        cursor: pointer
                        display: none
                        font-size: 2em
                        height 140px
                        justify-content: center
                        position: absolute
                        width: 100%
                        img
                            width: 60px
                            border: 0px
                    &:hover
                        .overlay
                            display: flex
                    img
                        border: 2px solid color1
                        border-radius: 50%
                        display: block
                        margin-bottom: 8px
                        width: 100%
                .form-control
                        display: none
        .btn-primary
            background-color: color1
            border-color: color1
            padding: 8px 32px
            &:hover
                background-color: color2
                border-color: color2
            &:focus
                box-shadow: none;
                outline: none;

.home_action_bar
    background-color:#ffffff
    border-radius: 4px
    margin-top: 24px
    padding: 16px
    .categories
        position: relative
        a
            background-color: #111111
            border-radius: 4px
            color: #fff
            display: block
            padding: 12px
            text-decoration: none
            text-transform: uppercase
            width: 100%
            &:hover
                background-color: color1
        &:active
        &:focus
            a
                background-color: color1
        &:hover
            ul
                display: block
        ul
            display: none
            list-style: none
            margin: 0px
            padding: 0px
            position: absolute
            width: 100%
            li
                a
                    background-color: #f8f8f8
                    color: #111111
                    border-radius: 0px
                    img
                        position: relative
                        margin-top: -5px
                        margin-right: 8px
                        width: 20px
                    &:hover
                        color: #ffffff
    .input-group
        position: relative
        i
            font-size: 1.4em
            left: 12px
            position: absolute
            top: 14px
            z-index: 10
        .form-control
            border-radius: 4px 0px 0px 4px !important
            padding: 10px 16px
            padding-left: 42px
            z-index: 2
            &:focus
                border: 1px solid color1
                &::placeholder
                    color: color1
        &:focus-within
            i
                color: color1
            .btn
                background-color: color1
                color: #fff

        .btn
            background-color: #111111
            color: #fff
            &:hover
                background-color: color1

.mdslider
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    min-height: 380px;
    overflow: hidden;
    position: relative;
    width: 100%;
    .md-slider-item
        align-items: center;
        background-color: #fff;
        border-radius: 4px;
        border-right: 1px solid #fff
        display: none;
        color: #fff;
        font-size: 4em;
        justify-content: center;
        position: absolute;
        min-height: 380px;
        transition: .3s all ease-in-out
        width: 100% !important;
    ul.navigation
        display: block;
        margin: 0px;
        overflow:hidden;
        padding: 0px;
        position: absolute;
        top: calc(50% - 18px);
        width: 100%;
        z-index: 9;
        li
            display: inline-flex;
            float: left;
            a
                align-items: center;
                background-color: rgba(0, 0, 0, .5)
                border-radius:50%
                color: #fff;
                display: flex;
                font-size:1.4em;
                height 36px;
                justify-content: center;
                text-decoration: none;
                width: 36px;
            &:first-child
                margin-left: 32px;
                a
                    i
                        position: relative;
                        margin-left: -2px;
            &:last-child
                float: right;
                margin-right: 32px;
                a
                    i
                        position: relative;
                        margin-right: -2px;

@media only screen and (max-width 728px)
    nav
        .navbar-nav
            display: block !important
            margin-top: 16px
            overflow: hidden
            li.nav-item
                display: block
                float: left
                margin-bottom: 8px
                margin-right: 0px
                width: 50%
                a.nav-link
                    text-align: center
                    span
                        display: block
                        font-size: 1em
                        font-weight: normal
                        margin-top: 4px
                        width: 100%
                    i
                        font-size: 3em
                &:last-child
                    float: inline-end
                    width: 100%
            li.link-acc
                a
                    font-size: 1.2em
                    width: 50% !important
                    i
                        font-size: 1em !important
            li.link-user
                border: 1px solid #d6d6d6 !important
                border-radius: 6px !important
                padding: 8px
                .dropdown-divider
                    display: none
                a
                    display: block
                    font-size: 1.2em !important
                    margin-bottom: 12px
                    width: 100% !important
                    img
                        width: 36px
                ul.shadow
                    box-shadow: none !important
